@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/greatvibes/v8/RWmMoKWR9v4ksMfaWd_JN9XLiaQ6DQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/greatvibes/v8/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (min-width: 992px) {
  .section1 > .container-fluid {
    height: 800px; 
  }
  .section1 > .container-fluid > div > p {
    font-size: 17px; 
  }
}

@media (max-width: 992px) {
  .section1 > .container-fluid {
    height: 500px; 
  }
  .section1 > .container-fluid > div > p {
    font-size: 14px; 
  }
}

a:hover {
  text-decoration: none; 
}

body {
  background: #fff;
  color: #4a4a4a;
  font-family: 'Open Sans', sans-serif; 
  font-size: 15px; 
  min-height: 100%;
}

#map {
  height: 900px;
  width: 900px;
}

.colorful-border {
  background: 
    linear-gradient(
      white, white
    ), 
    linear-gradient(
      60deg, 
      orange 0%, orange 3.5%, 
      white 3.5%, white 7%, 
      red 7%, red 10.5%, 
      black 10.5%, black 14%, 
      brown 14%, brown 17.5%, 
      aqua 17.5%, aqua 21%, 
      green 21%, green 25%, 
      orange 25%, orange 28.5%, 
      white 28.5%, white 32%, 
      red 32%, red 35.5%, 
      black 35.5%, black 39%, 
      brown 39%, brown 42.5%, 
      aqua 42.5%, aqua 46%, 
      green 46%, green 50%, 
      orange 50%, orange 53.5%, 
      white 53.5%, white 57%, 
      red 57%,red 60.5%, 
      black 60.5%, black 64%, 
      brown 64%, brown 67.5%, 
      aqua 67.5%, aqua 71%, 
      green 71%, green 75%, 
      orange 75%, orange 78.5%, 
      white 78.5%, white 82%, 
      red 82%, red 85.5%, 
      black 85.5%, black 89%, 
      brown 89%, brown 92.5%, 
      aqua 92.5%, aqua 96%, 
      green 96%, green 100%
    ); 
  background-clip: content-box, padding-box;
  background-origin: content-box, padding-box; 
  padding: 0px;
}

.carousel-inner .carousel-item img {
  display: block;
  margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  background-size: 100%, 100%;
  border-radius: 50%;
  height: 100px;
  outline: black;
  width: 100px; 
}

.carousel-control-next-icon:after
{
  color: black;
  content: '>';
  font-size: 55px;  
}

.carousel-control-prev-icon:after {
  color: black;
  content: '<';
  font-size: 55px;  
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.carousel-item img {
  height: 800px;
  width: auto;   
}

.footer {
  background-image: url("../image/mosaic.jpg");
  background-repeat: repeat;
  padding: 90px 0 0;
}

.footer p {
  color: #000; 
  font-family: 'Titillium Web', sans-serif;
  font-size: 23px; 
  text-align: center;
}

.footer p strong {
  font-size: larger;
}

.header {
  background: 
    linear-gradient(
      white, white
    ), 
    linear-gradient(
      60deg, 
      orange 0%, orange 3.5%, 
      white 3.5%, white 7%, 
      red 7%, red 10.5%, 
      black 10.5%, black 14%, 
      brown 14%, brown 17.5%, 
      aqua 17.5%, aqua 21%, 
      green 21%, green 25%, 
      orange 25%, orange 28.5%, 
      white 28.5%, white 32%, 
      red 32%, red 35.5%, 
      black 35.5%, black 39%, 
      brown 39%, brown 42.5%, 
      aqua 42.5%, aqua 46%, 
      green 46%, green 50%, 
      orange 50%, orange 53.5%, 
      white 53.5%, white 57%, 
      red 57%,red 60.5%, 
      black 60.5%, black 64%, 
      brown 64%, brown 67.5%, 
      aqua 67.5%, aqua 71%, 
      green 71%, green 75%, 
      orange 75%, orange 78.5%, 
      white 78.5%, white 82%, 
      red 82%, red 85.5%, 
      black 85.5%, black 89%, 
      brown 89%, brown 92.5%, 
      aqua 92.5%, aqua 96%, 
      green 96%, green 100%
    ); 
  background-clip: content-box, padding-box;
  background-origin: content-box, padding-box; 
  padding: 0px 0px 3px;
}

.header > .row {
  background-image: url("../image/mosaic.jpg");
  background-repeat: repeat;
}

.header nav ul {
  padding-right: 40px;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: #000;
  float: left;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 14px; 
  font-weight: bold; 
  text-transform: uppercase;     
  padding: 66px 15px 8px; 
}

.header nav ul li a:after {
  background: none;
  bottom: -41px;
  content: '';
  float: left;
  height: 41px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100; 
}

.header nav ul li.active a, 
.header nav ul li a:hover {
  background:#403b3b;
  border-radius: 0 0 90px 90px;
  color: #fff; 
  float: left;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 14px; 
  font-weight: bold;
  height: 120px;
  padding: 66px 15px 8px;  
  text-decoration: none;
  text-transform: uppercase;   
}

.section1 {
  background: 
    linear-gradient(
      white, white
    ), 
    linear-gradient(
      60deg, 
      orange 0%, orange 3.5%, 
      white 3.5%, white 7%, 
      red 7%, red 10.5%, 
      black 10.5%, black 14%, 
      brown 14%, brown 17.5%, 
      aqua 17.5%, aqua 21%, 
      green 21%, green 25%, 
      orange 25%, orange 28.5%, 
      white 28.5%, white 32%, 
      red 32%, red 35.5%, 
      black 35.5%, black 39%, 
      brown 39%, brown 42.5%, 
      aqua 42.5%, aqua 46%, 
      green 46%, green 50%, 
      orange 50%, orange 53.5%, 
      white 53.5%, white 57%, 
      red 57%,red 60.5%, 
      black 60.5%, black 64%, 
      brown 64%, brown 67.5%, 
      aqua 67.5%, aqua 71%, 
      green 71%, green 75%, 
      orange 75%, orange 78.5%, 
      white 78.5%, white 82%, 
      red 82%, red 85.5%, 
      black 85.5%, black 89%, 
      brown 89%, brown 92.5%, 
      aqua 92.5%, aqua 96%, 
      green 96%, green 100%
    ); 
  background-clip: content-box, padding-box;
  background-origin: content-box, padding-box; 
  padding: 0px 0px 3px;
  width: 100%;
}

.section1 > .container-fluid {
  background-image: url('../image/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 > .container-fluid > div {
  padding-top: 80px;
}

.section1 > .container-fluid > div > h1 {
  color: #000; 
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;  
  font-weight: bold;
  padding-top: 45px;   
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.section1 > .container-fluid > div > p {
  color: #000;
  font-family: 'Titillium Web', sans-serif;  
  text-align: center;
  text-shadow: none;
}

.section2 {
  background-image: url("../image/mosaic.jpg");
  background-repeat: repeat; 
}

.section2 > .container {
  height: 500px;  
}

.section2 > .container a div {
  color: #fc0a22;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px; 
  font-weight: bold;  
  text-align: center; 
  text-transform: uppercase;   
  width: 100%; 
}

.section2 > .container a div > img:hover {
  transform: scale(1.2);
}

.section2 > .container .row .col a img:nth-child(odd) {
  border: 2px solid red;
  border-radius: 180px 180px 0 0;
  height: 180px; 
  width: 360px;  
}

.section2 > .container .row .col a img:nth-child(even) {
  border: 2px solid red;
  border-radius: 0 0 180px 180px;
  height: 180px; 
  width: 360px;   
}

.section2 > .container .row .col:nth-child(odd) a div {
  position: absolute; 
  top: 85px;
}

.section2 > .container .row .col:nth-child(even) a div {
  position: absolute; 
  top: 160px;
}

.section3 {
  background: 
    linear-gradient(
      white, white
    ), 
    linear-gradient(
      60deg, 
      orange 0%, orange 3.5%, 
      white 3.5%, white 7%, 
      red 7%, red 10.5%, 
      black 10.5%, black 14%, 
      brown 14%, brown 17.5%, 
      aqua 17.5%, aqua 21%, 
      green 21%, green 25%, 
      orange 25%, orange 28.5%, 
      white 28.5%, white 32%, 
      red 32%, red 35.5%, 
      black 35.5%, black 39%, 
      brown 39%, brown 42.5%, 
      aqua 42.5%, aqua 46%, 
      green 46%, green 50%, 
      orange 50%, orange 53.5%, 
      white 53.5%, white 57%, 
      red 57%,red 60.5%, 
      black 60.5%, black 64%, 
      brown 64%, brown 67.5%, 
      aqua 67.5%, aqua 71%, 
      green 71%, green 75%, 
      orange 75%, orange 78.5%, 
      white 78.5%, white 82%, 
      red 82%, red 85.5%, 
      black 85.5%, black 89%, 
      brown 89%, brown 92.5%, 
      aqua 92.5%, aqua 96%, 
      green 96%, green 100%
    );
  background-clip: content-box, padding-box;
  background-origin: content-box, padding-box;
  margin: 0px auto;
  padding: 3px 0px;
  width: 100%;
}

.section3 > .jumbotron {
  align-items: center;
  background-attachment: fixed;
  background-image: url('../image/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  display: flex;
  height: 30%;
  height: 30vh;
  margin: 0px;
  min-height: 50%;
  min-height: 50vh; 
  padding: 0px; 
}